<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>City</th>
      <th>Full name</th>
      <th>Division</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.code %></td>
        <td><%= team.city %></td>
        <td><%= team.mascot %></td>
        <td>
          <%= team.division.conference.conference_name %> 
          <%= team.division.zone.zone_name %>
        </td>
        <td><%= link_to 'Show', team %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
